
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  
    <main class="px-3">
      <h1>About Us</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <a class="btn btn-lg btn-info fw-bold border-white bg-red">Learn more</a>
      </p>
    </main>
  
    <footer >
      <p>made by  <a href="https://getbootstrap.com/" class="text-green">jawwad</a>, by <a href="https://twitter.com/mdo" class="text-green">@Jawwad</a>.</p>
    </footer>
  </div>
  